@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels;

@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var selection = Model.Ancestors().ToArray();
    var pageTitle = Model.Name;
    if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        pageTitle = ViewBag.Title;
    }
    
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var rightBackgroundImg = settings?.Value<IPublishedContent>("rightBackgroundImg")?.Url() ?? "";
    var leftBackgroundImg = settings?.Value<IPublishedContent>("leftBackgroundImg")?.Url() ?? "";
}


<section class="generic-breadcrumb">
    
    <img class="right-background-image" src="@rightBackgroundImg">
    <img class="left-background-image" src="@leftBackgroundImg">

    <div class="container">
        <h1>@pageTitle</h1>

        @if (selection?.Length > 0)
        {
            <div class="breadcrumb">
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    <a href="@item.Url(PublishedUrlProvider)">@item.Name</a><i class="fa-light fa-angle-right"></i>
                }

                <span class="active-link">@Model.Name</span>
                
            </div>
        }
        
    </div>
</section>