@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;

@{
    var uniqueName = Model?.Content.Value<string>("uniqueName");
    var labelText = Model?.Content.Value<string>("labelText");
    var placeholderText = Model?.Content.Value<string>("placeholderText");

    var isRequired = Model.Content.Value<bool>("isRequired");
    var errorMessage = Model?.Content.Value<string>("errorMessage");

    string uniqueNameString = uniqueName?.ToString() ?? string.Empty;
    var inputValue = ViewData["uniqueNameString"] as string ?? string.Empty;
}

<div id="_@uniqueName" class="form-input-group">
    <input type="hidden" name="isMessageRequired" value="true" />
    <textarea id="@uniqueName" name="@uniqueName" placeholder="@placeholderText" class="form-textarea">@inputValue</textarea>

    @if ((bool?)ViewData[$"error_{uniqueNameString}"] == true)
    {
        <span class="form-input-error">@errorMessage</span>
    }
</div>